<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="fragments/header.html::fragment-header"></div>
<style>
  .container2 {
    max-width: 600px;
    margin: auto;
  }
  .nav-link {
    color: #336699;
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: #3399cc;
  }
  .btn-main {
    width: 230px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
<body>

<!-- 공통 navigation-->
<div th:replace="fragments/nav.html::fragment-nav(${user})"></div>
</br>
</br>

<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>k8s 리소스 모니터링</h2>
    </div>

    <div class="container2">
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs nav-fill" id="myTabs">
            <li class="nav-item">
              <a class="nav-link active" id="pod-tab" data-toggle="tab" href="#pod">Pod</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="node-tab" data-toggle="tab" href="#node">Node</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="tab-content text-center">
            <div class="tab-pane fade show active" id="pod">
              <br>
              <br>
              <p style="padding-top: 20px; padding-bottom: 20px;">
                Kubernetes의 Pod에 하나의 Kasm Container를 할당하여 <br> 사용자에게 가상환경을 제공합니다.
                Pod를 모니터링 해보세요.
              </p>
              <a href="http://console.ncloud.com/vnks/assets/grafana/goto/OaQagi7Ik?orgId=1" class="btn btn-main btn mx-auto">Pod 모니터링 바로가기</a>
            </div>

            <div class="tab-pane fade" id="node">
              <br>
              <br>
              <p style="padding-top: 20px; padding-bottom: 20px;">
                Kubernetes 노드는 Pod를 실행하고 관리하며,  <br> 클러스터 내에서 일련의 작업을 분산합니다.
                Node를 모니터링 해보세요.
              </p>
              <a href="http://console.ncloud.com/vnks/assets/grafana/goto/OuaBRinIz?orgId=1" class="btn btn-main btn mx-auto">Node 모니터링 바로가기</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<div th:replace="fragments/footer.html::fragment-footer"></div>

<!-- 공통 script -->
<div th:replace="fragments/script.html::fragment-script"></div>
</body>
</html>