version: '3'

services:
  db:
    image: mariadb:10
    container_name: mariadb
    ports:
      - 3307:3306
    environment:
      MARIADB_DATABASE: 'p2k'
      MARIADB_ROOT_PASSWORD: # password
      MARIADB_ROOT_HOST: '%'
      TZ: Asia/Seoul
    volumes:
      - ./mariadb/conf.d:/etc/mysql/conf.d
      - ./mariadb/data:/var/lib/mysql
      - ./mariadb/initdb.d:/docker-entrypoint-initdb.d
    command: ['--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci', '--bind-address=0.0.0.0']

  application:
    container_name: springboot
    build: .
    ports:
      - 80:8080
    depends_on:
      - db