<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="fragments/header.html::fragment-header"></div>
<style>
    .container2 {
        max-width: 1500px;
    }
</style>
<body>

<!-- 공통 navigation-->
<div th:replace="fragments/nav.html::fragment-nav(${user})"></div>
</br>
</br>

<section id="pricing" class="pricing">
    <div  class="row container container2 mx-auto" data-aos="fade-up">
        <div class="section-title">
            <h2>나의 가상 환경</h2>
            <h3 th:text="${courseDTO.name}">강좌 이름</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-2 order-1 order-sm-1">
            <div th:replace="course/course-sidebar.html::fragment-sidebar(${courseDTO.id}, ${user})"></div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-9 order-2 order-sm-2">
            <div class="row mx-auto">
                <div class="col-lg-4 col-md-5" data-aos="zoom-im" data-aos-delay="100" th:each="v : ${myVms.getVms()}">
                    <div class="box p-3">
                        <div class="row">
                            <div class="dropdown col-2">
                                <div th:if="${v.state == 'stop'}">
                                    <button class="btn dropdown-toggle z" type="button" data-toggle="dropdown" id="dropdownBtn">
                                        <!-- <img src="/assets/drop-down.png" width="10px" height="10px"/>-->
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:onclick="exportImage([[${v.imageId}]])">내보내기</a>
                                        <a class="dropdown-item" >
                                            <form class="form-inline m-0 p-0 col-3" th:action="@{/vm/delete/{id}(id=${v.id})}" method="post">
                                                <input type="submit" class="m-0 p-0" style="background-color:transparent;border:0px transparent solid;" value="삭제하기">
                                            </form>
                                        </a>
                                        <div class="dropdown-item" th:onclick="|location.href='@{/vm/update/{id}(id=${v.id})}'|">수정하기</div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="col-8 mb-4" th:text="${v.name}" style="font-size:25px"></h3>
                        </div>

                        <input hidden id="vmId" type="text" th:value="${v.id}"/>
                        <input hidden id="vmPort" type="text" th:value="${v.port}"/>
                        <input hidden id="vmImageId" type="text" th:value="${v.imageId}"/>
                        <p class="m-0 ms-5 card-text text-start" th:if="${v.state == 'running'}"><span style="font-size: 12px; color: #adb5bd">상태</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;실행 중</span></p>
                        <p class="m-0 ms-5 card-text text-start" th:if="${v.state == 'stop'}"><span style="font-size: 12px; color: #adb5bd">상태</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;중지</span></p>
                        <p class="m-0 ms-5 card-text text-start"><span th:if="${v.scope}"><span style="font-size: 12px; color: #adb5bd">공개 범위</span><span>&nbsp;&nbsp;&nbsp;&nbsp;전체 공개</span></span></p>
                        <p class="m-0 ms-5 card-text text-start"><span th:if="!${v.scope}"><span style="font-size: 12px; color: #adb5bd">공개 범위</span><span>&nbsp;&nbsp;&nbsp;&nbsp;비공개</span></span></p>
                        <p class="m-0 ms-5 card-text text-start"><span th:if="${v.control}"><span style="font-size: 12px; color: #adb5bd">접속자 권한</span><span>&nbsp;&nbsp;제어 가능</span></span></p>
                        <p class="m-0 ms-5 card-text text-start"><span th:if="!${v.control}"><span style="font-size: 12px; color: #adb5bd">접속자 권한</span><span>&nbsp;&nbsp;보기만 가능</span></span></p>
                        <p class="m-0 ms-5 card-text text-start" th:if="${v.courseName != null}"><span style="font-size: 12px; color: #adb5bd">연결된 강좌</span>&nbsp;&nbsp;<span th:text="${v.courseName}"></span></p>


                        <div class="btn-wrap p-0">
                            <div class="row d-flex justify-content-center m-0" th:if="${v.state == 'running'}">
                                <div class="form-inline m-0 p-0 col-4">
                                    <button class="btn-main btn" th:data-nodePort="${v.nodePort}" th:data-externalIp="${v.externalIp}" onclick="alert(this)">접속</button>
                                </div>
                                <form class="form-inline m-0 p-0 col-4" th:action="@{/vm/stop/{id}(id=${v.id})}" method="post">
                                    <button class="btn-main btn" type="submit">중지</button>
                                </form>
                            </div>

                            <div class="row d-flex justify-content-center" th:if="${v.state == 'stop'}">
                                <div class="row d-flex justify-content-center" >
                                    <form class="form-inline m-1 p-0 col-3" th:action="@{/vm/start/{id}(id=${v.id})}" method="post">
                                        <button class="btn-main btn" type="submit">실행</button>
                                    </form>
                                    <form class="form-inline m-1 p-0 col-3" th:action="@{/vm/save/{id}(id=${v.id})}" method="post">
                                        <button class="btn-main btn" type="submit">저장</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 공통 footer -->
<div th:replace="fragments/footer.html::fragment-footer"></div>

<!-- 공통 script -->
<div th:replace="fragments/script.html::fragment-script"></div>
</body>
<script>
    function alert(parameter) {
        Swal.fire({
            title : "접속하시겠습니까?",
            showCancelButton: true,
            confirmButtonColor: '#2487ce',
            cancelButtonColor: '#fa5f5f',
            confirmButtonText: '접속',
            cancelButtonText: '취소'
        }).then((result) => {
            if(result.isConfirmed) {
                var nodePort = parameter.getAttribute('data-nodePort');
                var externalIp = parameter.getAttribute('data-externalIp');

                window.open("https://"+externalIp+":"+nodePort, "_blank") // 새 창에서 켜짐
            }
        })
    }

    function exportImage(imageId) {
        Swal.fire({
            title: '아래의 키를 복사해서 사용하세요',
            text: imageId,
            confirmButtonColor: '#2487ce',
            confirmButtonText: '확인'
        });
    }
</script>
</html>
