<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="fragments/header.html::fragment-header"></div>
<style>
    .container2 {
        max-width: 1500px;
    }
</style>
<body>

<!-- 공통 navigation-->
<div th:replace="fragments/nav.html::fragment-nav(${user})"></div>
</br>
</br>

<section id="pricing" class="pricing">
    <div class="row container container2 mx-auto" data-aos="fade-up">
        <div class="section-title">
            <h2>설정 및 관리</h2>
            <h3 th:text="${courseDTO.name}">강좌 이름</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-2 order-1 order-sm-1">
            <div th:replace="course/course-sidebar.html::fragment-sidebar(${courseDTO.id}, ${user})"></div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-9 order-2 order-sm-2">
            <div class="row mx-auto">
                <h4 class="mt-4">강좌 가입 신청</h4>
                <hr class="my-4">
                <div class="row container2 mx-auto">
                    <div class="col table-responsive">
                        <table class="table table-hover">
                            <tr th:each="unacceptedUserDTO : ${unacceptedUserDTOs.getStudents()}">
                                <td class="align-middle">
                                    <div class="row">
                                        <div class="col-md-9 d-flex align-items-center">
                                            <span th:text="${unacceptedUserDTO.name}" class="pl-2">강좌 구성원 이름</span>
                                        </div>
                                        <div class="col-md-3 text-right">
                                            <button type="button" class="btn btn-outline-primary"
                                                    th:onclick="|javascript:accept(${courseDTO.id}, ${unacceptedUserDTO.id})|">수락</button>
                                            <button type="button" class="btn btn-outline-danger"
                                                    th:onclick="|javascript:reject(${courseDTO.id}, ${unacceptedUserDTO.id})|">거절</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br>
                    </div>
                </div>

                <h4 class="mt-4">강좌 구성원</h4>
                <hr class="my-4">
                <div class="row container2 mx-auto">
                    <div class="col table-responsive">
                        <table class="table table-hover section-bg">
                            <tr th:each="userDTO : ${usersDTOs.getUsers()}">
                                <td class="align-middle">
                                    <div class="row">
                                        <div class="col d-flex align-items-center justify-content-between">
                                            <p th:text="${userDTO.name}" class="pl-2 mb-0">강좌 구성원 이름</p>
                                            <p th:if="${userDTO.id == courseDTO.instructorId}" class="pr-2 mb-0 text-right" style="color: blue;">교육자</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br>
                    </div>
                </div>

                <h4 class="mt-4">강좌 관리</h4>
                <hr class="my-4">
                <div>
                    <div class="border rounded p-4">
                        <p>강좌 삭제하기</p>
                        <button type="button" class="btn btn-outline-danger"
                                th:onclick="|javascript:deleteCourse(${courseDTO.id})|">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 공통 footer -->
<div th:replace="fragments/footer.html::fragment-footer"></div>

<!-- 공통 script -->
<div th:replace="fragments/script.html::fragment-script"></div>
</body>
<script>
    function accept(courseId, userId){
        const form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/courses/" + courseId + "/application/" + userId + "/accept");
        document.body.appendChild(form);
        form.submit();
    }
    function reject(courseId, userId) {
        Swal.fire({
            text: '거절하시겠습니까?',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '확인',
            cancelButtonText: '취소'
        }).then((result) => {
            if(result.isConfirmed) {
                $.ajax({
                    method: 'POST',
                    url: '/courses/' + courseId + '/application/' + userId + '/reject',
                    success: function() {
                        Swal.fire({
                            text: '거절되었습니다.',
                            confirmButtonColor: '#2487ce',
                            confirmButtonText: '확인'
                        }).then((result) => {
                            if(result.isConfirmed) {
                                location.href = '/courses/' + courseId + '/setting';
                            }
                        });
                    }
                });
            }
        });
    }
    function deleteCourse(courseId) {
        Swal.fire({
            text: '강좌를 삭제하시겠습니까?',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '확인',
            cancelButtonText: '취소'
        }).then((result) => {
            if(result.isConfirmed) {
                $.ajax({
                    method: 'POST',
                    url: '/courses/' + courseId + '/delete',
                    success: function() {
                        Swal.fire({
                            text: '강좌가 삭제되었습니다.',
                            confirmButtonColor: '#2487ce',
                            confirmButtonText: '확인'
                        }).then((result) => {
                            if(result.isConfirmed) {
                                location.href = '/courses';
                            }
                        });
                    }
                });
            }
        });
    }
</script>
</html>
